* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
}

body {
  background-color: #070708;
  font-family: "Manrope", sans-serif;
}

.btn-border {
  display: inline-block;
  padding: 1px; /* border qalinligi */
  border-radius: 8px;
  background: linear-gradient(to right, rgb(47, 47, 55) 28%, rgba(47, 47, 55, 0) 100%);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  background-color: #1c1c21;
  border-radius: 7.5px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .btn {
    padding: 12px 14px;
  }
}
@media screen and (min-width: 1900px) {
  .btn {
    padding: 16px 24px;
    font-size: 18px;
  }
}
.btn_second {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4A2CED;
  padding: 14px 30px;
  border-radius: 100px;
  box-shadow: inset 4px 4px 17.4px rgba(255, 255, 255, 0.28);
}

.slider_component {
  border-top: 1px solid #1c1c21;
  border-bottom: 1px solid #1c1c21;
  padding: 16px 0;
  background-color: #0e0e10;
  overflow: hidden;
}
.slider_component ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
.slider_component ul li {
  flex-shrink: 0;
}
.slider_component ul li a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #d6d0fb;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.slider_component ul li a span {
  flex-shrink: 0;
}
.slider_component ul li a:hover {
  text-decoration: underline;
}

.newsticker {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 1900px) {
  .slider_component {
    padding: 20px 0;
  }
  .slider_component ul li a {
    gap: 10px;
    font-size: 18px;
  }
}
.container {
  width: calc(100% - 32px);
  margin: 0 auto;
}

@media screen and (min-width: 1366px) {
  .container {
    width: calc(100% - 124px);
  }
}
@media screen and (min-width: 1900px) {
  .container {
    width: calc(100% - 200px);
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid #1c1c21;
  border-right: 1px solid #1c1c21;
  padding-left: 16px;
  padding-top: 40px;
}
.header_anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  height: 18px;
}
.header_anchor img {
  width: 100%;
  height: 100%;
}
.header_nav,
.header .btn-border {
  display: none;
}
.header_gumburger {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #1c1c21;
  border-left: 1px solid #1c1c21;
  border-top-left-radius: 20px;
  padding: 20px;
}

.br {
  width: 100%;
  border: 1.5px solid #1c1c21;
}

@media screen and (min-width: 600px) {
  .header {
    padding-left: 18px;
    padding-top: 35px;
  }
  .header_anchor {
    height: 19px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-left: 20px;
    padding-top: 30px;
  }
  .header_anchor {
    height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 80px;
    display: flex;
    align-items: end;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
  }
  .header_anchor {
    display: flex;
    width: max-content;
    height: 100%;
  }
  .header_anchor img {
    height: 20px;
  }
  .header_nav {
    width: max-content;
    border: 1px solid #1c1c21;
    display: block;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .header_nav ul {
    display: flex;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .header_nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 34px;
    color: #afb0b6;
    font-weight: 500;
    font-size: 14px;
    border-right: 1px solid #1c1c21;
  }
  .header_nav ul li a.active {
    color: #fff;
    background-color: #131316;
  }
  .header_nav ul li:last-child {
    border-top-right-radius: 9px;
  }
  .header_nav ul li:last-child a {
    border-top-right-radius: 9px;
    border: none;
  }
  .header_nav ul li:first-child {
    border-top-left-radius: 9px;
  }
  .header_nav ul li:first-child a {
    border-top-left-radius: 9px;
  }
  .header_div {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header_div .btn-border {
    display: block;
  }
  .header_gumburger {
    display: none;
  }
}
@media screen and (min-width: 1366px) {
  .header {
    height: 89px;
  }
  .header_anchor img {
    height: 22px;
  }
  .header_nav ul li a {
    padding: 24px 40px;
  }
}
@media screen and (min-width: 1900px) {
  .header {
    height: 119px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
  }
  .header_anchor img {
    height: 27px;
  }
  .header_nav {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .header_nav ul {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .header_nav ul li a {
    padding: 30px 50px;
    font-size: 18px;
  }
  .header_nav ul li:last-child {
    border-top-right-radius: 11px;
  }
  .header_nav ul li:last-child a {
    border-top-right-radius: 11px;
  }
  .header_nav ul li:first-child {
    border-top-left-radius: 11px;
  }
  .header_nav ul li:first-child a {
    border-top-left-radius: 11px;
  }
  .header_div {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header_div .btn-border {
    display: block;
  }
  .header_gumburger {
    display: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
  text-transform: uppercase;
}
.hero_first p {
  color: #62646c;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}
.hero_first h1 {
  font-size: 40px;
  font-weight: 600;
  color: #e4e4e6;
}
.hero_second {
  display: none;
}
.hero_end div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
}
.hero_end div h2 {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
.hero_end div ~ h2 {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .hero {
    gap: 35px;
  }
  .hero_first p {
    font-size: 18px;
  }
  .hero_first h1 {
    font-size: 60px;
  }
  .hero_end div {
    gap: 20px;
  }
  .hero_end div h2 {
    font-size: 35px;
  }
  .hero_end div ~ h2 {
    font-size: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 200px;
    padding: 0;
    overflow: hidden;
  }
  .hero_first p {
    font-size: 16px;
  }
  .hero_first h1 {
    font-size: 45px;
  }
  .hero_second {
    position: absolute;
    display: block;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .hero_second img {
    width: 100%;
    height: 100%;
  }
  .hero_end div {
    gap: 20px;
  }
  .hero_end div h2 {
    font-size: 35px;
  }
  .hero_end div ~ h2 {
    font-size: 33px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 250px;
  }
  .hero_first p {
    font-size: 18px;
  }
  .hero_first h1 {
    font-size: 55px;
  }
  .hero_end div h2 {
    font-size: 40px;
  }
  .hero_end div ~ h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .hero {
    height: 260px;
  }
  .hero_first h1 {
    font-size: 60px;
  }
  .hero_end div h2 {
    font-size: 48px;
  }
  .hero_end div ~ h2 {
    font-size: 48px;
  }
}
@media screen and (min-width: 1900px) {
  .hero {
    height: 330px;
  }
  .hero_first p {
    font-size: 22px;
  }
  .hero_first h1 {
    font-size: 80px;
  }
  .hero_end div h2 {
    font-size: 58px;
  }
  .hero_end div ~ h2 {
    font-size: 58px;
  }
  
}

/*# sourceMappingURL=style.css.map */
